@keyframes moveUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes moveDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }
.image-container
{
    position: relative;
    overflow: hidden;
}

.image-container:hover .hover-content
{
    
    position: absolute;
    top: 75%;
    background-color: #eceff1;
    animation: moveUp 0.3s ease-in-out
}

.hover-content
{
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: #eceff1;
    animation: moveDown 0.3s ease-in-out
}

