@tailwind base;
@tailwind components;
@tailwind utilities;




/*=========VARIABLES======================*/
:root {

  /*=========SCREEN-SIZES============*/
  --screen-Width: calc(var(--vw, 1vw) * 100);
  --screen-height: calc(var(--vh, 1vh) * 100);
  --HalfScreen-height: calc(var(--screen-height) / 2);
  --HalfScreen-Width: calc(var(--screen-Width) / 2);
  --FifthScreen-height: calc(var(--screen-height) / 5);

  /*=============COLORS===============*/

  --WHITECONTAINERCOLOR:rgba(236,	239,	241, 0.8);
  --XLWHITECONTAINERCOLOR:rgba(236,	239,	241, 0.8);
  --BLACKCONTAINERCOLOR:rgba(21, 21, 21, 0.8);
  --XLBLACKCONTAINERCOLOR:rgba(207,	216,	220, 0.8);
  --WHITETXTCOLOR:#263238;
  --BLACKTXTCOLOR:#90a4ae;

}


/*=============CLASSES=====================*/

/*================LIGHTING CLASSES==============*/
@variants dark {

  .dark .ContainerWhiteMode {
  background-color: var(--WHITECONTAINERCOLOR);
  border-color: var(--WHITECONTAINERCOLOR);
  /*backdrop-filter: blur(1px);*/     
    }

    .dark .ContainerExtraWhiteMode {       
      background-color: var(--XLWHITECONTAINERCOLOR);
      border-color: var(--XLWHITECONTAINERCOLOR);
      backdrop-filter: blur(26px);       
        }
  .dark .ContainerDarkMode {
      
      background-color: var(--BLACKCONTAINERCOLOR);
      border-color: var(--BLACKCONTAINERCOLOR);
      /*backdrop-filter: blur(1px);*/  
       
  }
  .dark .ContainerLightDarkMode {
    
    background-color: var(--XLBLACKCONTAINERCOLOR);
    border-color: var(--XLBLACKCONTAINERCOLOR);
    /*backdrop-filter: blur(1px);*/  
     
}
  .dark .TextDarkMode {
      color: var(--BLACKTXTCOLOR);     
    }

    .dark .TextWhiteMode {
      color: var(--WHITETXTCOLOR);     
    }
}

/*==============NORMAL CLASSES=============*/
  .custom-text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .shadowed-text {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  }
  .shadowed-div {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .ExtraShadowed-div {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  }

  .BackgroundImage {
    background-image: url("./assets//images/background1.png");
  }
  .BackgroundImage2 {
    background-image: url("./assets//images/background2.png");
  }


  .Imageshadow {
    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
}


.VerticalLine {
  opacity: 50%;
  width: 2px; 
  height: 100%; 
  border-radius: 50px;
  background-color: #eceff1; 
}

/*div {
  border: 1px solid rgb(0, 0, 0);
}*/

.h-fullscreen {
  height: var(--screen-height);
}
.h-halfscreen {
  height: var(--HalfScreen-height);
}

.w-fullscreen {
  width: var(--screen-Width);
}
.w-halfscreen {
  width: var(--HalfScreen-Width);
}

.pt-fifthscreen {
  padding-top: var(--FifthScreen-height);
}
