@tailwind base;
@tailwind components;
@tailwind utilities;




/*=========VARIABLES======================*/
:root {

  /*=========SCREEN-SIZES============*/
  --screen-Width: calc(var(--vw, 1vw) * 100);
  --screen-height: calc(var(--vh, 1vh) * 100);
  --HalfScreen-height: calc(var(--screen-height) / 2);
  --HalfScreen-Width: calc(var(--screen-Width) / 2);
  --FifthScreen-height: calc(var(--screen-height) / 5);

  /*=============COLORS===============*/

  --WHITE_THEME_COLOR_T1:rgba(236,	239,	241, 0.8);
  --WHITE_THEME_COLOR_T2:rgba(255,	255,	255, 0.8);
  --BLACK_THEME_COLOR_T1:rgba(51, 51, 51, 0.8);
  --RED_THEME_COLOR_T1:rgba(191,54,12, 1);
  --BLACK_THEME_COLOR_T2:rgba(40,40,40, 0.6);
  --LOADING_THEME_COLOR:#ffcdd2;
  --WHITE_TXT_COLOR:black;
  --BLACK_TXT_COLOR:white;
}


/*=============CLASSES=====================*/

/*================LIGHTING CLASSES==============*/
@variants dark {

  .dark .bg-whiteTheme_T1 
  {
  background-color: var(--WHITE_THEME_COLOR_T1);
  border-color: var(--WHITE_THEME_COLOR_T1);
  /*backdrop-filter: blur(1px);*/     
  }

  .dark .bg-whiteTheme_T2 
  {       
      background-color: var(--WHITE_THEME_COLOR_T2);
      border-color: var(--WHITE_THEME_COLOR_T2);
      backdrop-filter: blur(26px);       
  }

  .dark .bg-RedTheme_T1 
  {
  background-color: var(--RED_THEME_COLOR_T1);
  border-color: var(--RED_THEME_COLOR_T1);
  /*backdrop-filter: blur(1px);*/     
  }
  .dark .bg-darkTheme_T1 
  {
      
      background-color: var(--BLACK_THEME_COLOR_T1);
      border-color: var(--BLACK_THEME_COLOR_T1);
      /*backdrop-filter: blur(1px);*/  
       
  }
  .dark .bg-darkTheme_T2 
  {
    
    background: linear-gradient(-45deg, var(--BLACK_THEME_COLOR_T2), var(--BLACK_THEME_COLOR_T1));
    /*background-color: var(--BLACK_THEME_COLOR_T2);*/
    border-color: var(--BLACK_THEME_COLOR_T2);
    /*backdrop-filter: blur(26px);*/
     
  }
  .dark .bg-LoadingTheme_T1 
  {
    
    background-color: var(--LOADING_THEME_COLOR);
    border-color: var(--LOADING_THEME_COLOR);
    /*backdrop-filter: blur(1px);*/  
     
  }
  .dark .tc-darkTheme_T1 
  {
      color: var(--BLACK_TXT_COLOR);     
  }

  .dark .tc-whiteTheme_T1 
  {
      color: var(--WHITE_TXT_COLOR);     
  }

  
}


/*==============NORMAL CLASSES=============*/
  .custom-text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .shadowed-text {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  }
  .shadowed-div {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .ExtraShadowed-div {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  }

  .BackgroundImage {
    background-image: url("./assets//images/background1.png");
  }
  .BackgroundImage2 {
    background-image: url("./assets//images/background2.png");
  }


  .Imageshadow {
    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
}


.VerticalLine {
  opacity: 50%;
  width: 2px; 
  height: 100%; 
  border-radius: 50px;
  background-color: #eceff1; 
}

/*div {
  border: 1px solid rgb(0, 0, 0);
}*/

.h-fullscreen {
  height: var(--screen-height);
}
.h-halfscreen {
  height: var(--HalfScreen-height);
}

.w-fullscreen {
  width: var(--screen-Width);
}
.w-halfscreen {
  width: var(--HalfScreen-Width);
}

.pt-fifthscreen {
  padding-top: var(--FifthScreen-height);
}

.no-scroll {
  overflow: hidden !important;
}

.enable-scroll {
  overflow: scroll !important;
}


/*=========================SCROLL BAR CUSTOMIZATION===========================*/
/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #bf360c; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

/* Customize the scrollbar track when the thumb is being dragged */
::-webkit-scrollbar-thumb:hover {
  background-color: #d84315;
}

/* Customize the scrollbar track when it's not visible */
::-webkit-scrollbar-track {
  background-color: var(--WHITE_THEME_COLOR_T1); /* Color of the track */
  border-radius: 6px;
  /* Rounded corners for the track */
}

/* Customize the scrollbar buttons (arrows) */
::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons (arrows) */
}